body {
  color: #fff;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  margin: 40px auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

form {
  min-width: 600px;
  min-height: 800px;
  background: #112233;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
}

input {
  display: block;
  font-size: 1.2rem;
  width: 85%;
  padding: 6px;
  margin: 20px auto;
  border-radius: 10px;
  transition: background 0.5s;
}

input:hover {
  background: rgb(140, 219, 255);
}

input:hover::placeholder {
  color: #fff;
}

label {
  font-size: 1.1em;
  display: block;
  width: 85%;
  padding: 6px;
  margin: 80px auto 40px auto;
  border-radius: 10px;
  transition: background 0.5s;
  text-align: center;
}

label:hover {
  color: #fff;
  text-decoration: underline;
}

input[type="submit"] {
  width: 50%;
  background: #aaa;
}

input[type="submit"]:hover {
  background: #246;
  color: #fff;
}

html {
  background: linear-gradient(to right, #addddd, #fafafa, #addddd);
}

