html {
  background: linear-gradient(to right, #addddd, #fafafa, #addddd);
}

body {
  color: #fff;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  margin: auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

form {
  min-width: 600px;
  background: #112233;
  padding: 1em;
  border-radius: 10px;
  margin: auto;
}

input {
  font-size: 1rem;
  width: 85%;
  padding: 0.5em;
  display: block;
  border-radius: 10px;
  transition: background 0.5s;
  margin: 0 auto;
}

input:hover {
  background: rgb(140, 219, 255);
}

input:hover::placeholder {
  color: #fff;
}

label {
  font-size: 1.1rem;
  display: block;  
  padding: 1.5em 0.5em 0.5em 1.5em;
  border-radius: 10px;
  transition: background 0.5s;
  
}

label[for="newsletter-checkbox"] {
  color: #fafafa;  
  margin: 3em 0em;
  text-align: center;
}

label[for="newsletter-checkbox"]:hover {
  color: #fff;
  text-decoration: underline;
}

input[type="checkbox"] {
  margin: 0 auto;  
}

input[type="submit"] {
  width: 50%;
  background: #aaa;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background: #246;
  color: #fff;  
}

div.copyright {
  text-align: center;
  font-size: 14px;
  color: #777;
  padding-top: 100px;
}