.loader-background {
  position: fixed;
  background-color: black;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.loader-text {
  color: #00ffff;
  text-align: center;
}

.loader {
  color: #00ffff;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.loader::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    #ff00dd 0%,
    #00ffff 100%
  );
}

.loader::after {
  width: 75%;
  height: 75%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
